body{
    height: 100%;
    width: 100%;
    /* background-color: chartreuse; */
    background: url("./media/bg.jpg");
    /* background-size: contain; */
    /* display: inline-block; */
    margin: 0;
}
#app{
    height: 100%;
    width: 100%;
    position: fixed;
}